name: Unit tests

env:
  binary: csvimporter

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  schedule:
    - cron: "00 06 * * 6"
  pull_request:
    branches: [ "master" ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare a Go env
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.20'
          cache: false

      - name: E2E tests
        run: |
          cd etl
          docker build -t etl:test .
          docker run -i --rm etl:test tests/e2e_csv.sh tests/csv-urls
          #docker run -i --rm etl:test tests/e2e_azet.sh

